###> base ###
.DS_Store
/composer.lock
###< base ###

###> phpunit/phpunit ###
/.phpunit.result.cache
/phpunit.xml
/tests/Fixture/var/
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/vendor/
###< symfony/framework-bundle ###
