<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Testing!{% endblock %}</title>
    </head>
    <body>
        <p class="title">Title: {{ test.title }}</p>
        <p class="content">Content: {{ test.content }}</p>

        {% if customResponder is defined %}
            <p class="custom-responder">CustomResponder</p>
        {% endif %}
    </body>
</html>
