<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Testing!{% endblock %}</title>
    </head>
    <body>
        <p class="data">{{ data }}</p>
    </body>
</html>
